<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CTP_交易.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
  <userSettings>
    <CTP_交易.Properties.Settings>
      <setting name="SavePWD" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="ShowTootip" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FastCloseAddTick" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FastCloseTick" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PlaySound" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FlowPriceAddTick" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FlowPriceTick" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="KeepLots" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="KeepInstrument" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ServerIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FormSize" serializeAs="String">
        <value>1100, 600</value>
      </setting>
      <setting name="TopHeigh" serializeAs="String">
        <value>255</value>
      </setting>
      <setting name="TopVisable" serializeAs="String">
        <value>True</value>
      </setting>
    </CTP_交易.Properties.Settings>
  </userSettings>
</configuration>
